body {
  margin: 0;
  overflow: hidden;
}

#command-panel {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 100%;
  overflow: hidden;
}

#command-panel>div {
  background-color: green;
  width: 50px;
  height: 50px;
  margin: 2px;
}


